/* CSS coded to respond to mobile devices first. My device 412x784 */

@import url("fredokaone-regular.ttf");

* {
  font-family: "Arial";
}

#span-lives {
  padding-right: 10px;
}

body {
  background-color: rgb(0, 0, 0);
  width: 360px;
  overflow: scroll;
  height: fit-content;
  margin: auto;
  margin-top: 10px;
  border: 2px solid rgb(0, 0, 0);
  position: relative;
}

#div-the-game {
  display: none;
}

#div-top-bg {
  margin: auto;
  width: 360px;
  height: 400px;
  position: relative;
  border: solid gray 2px;
}

.div-score {
  font-size: medium;
  text-align: right;
  color: white;
  background-color: black;
  padding: 20px 20px;
}

.div-enemy-square {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
}

.pause-button {
  background-color: white;
  width: 8px;
  height: 30px;
  margin: auto;
}

#div-pause-gamemenu {
  display: flex;
  align-items: center;
  margin: auto;
  top: 3px;
  left: 0px;
  /* position: absolute; */
  width: 35px;
  height: 40px;
}

#div-bottom-bg {
  margin: auto;
  width: 360px;
  background-color: rgb(0, 0, 0);
}

#div-color-box-container2,
#div-color-box-container1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 20px;
  width: 360px;
  opacity: 0.1;
}

#div-color-box-container3 {
  display: flex;
  align-items: center;
  width: 360px;
  margin: auto;
  display: none;
}

#div-color-box-container4 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

#img-btn-start {
  display: flex;
  margin: 20px 0px;
  /* background-color: blue; */
  background-image: url("../assets/icon_play.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 200px;
  height: 200px;
}

#div-game-intro ul {
  margin: 5px;
  padding: 10px 32px 20px 32px;
}

#div-game-intro {
  color: black;
  margin: auto;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  background-image: url("../assets/light_bg_1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#div-game-intro h1 {
  text-align: center;
}

#div-pause-menu {
  text-align: center;
  color: white;
  background-color: rgb(24, 24, 24);
  margin: auto;
  font-size: 25px;
  width: 70%;
  border-radius: 25px;
  border: 1px solid white;
  display: none;
}

#div-pause-menu button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 25px;
  margin-bottom: 10px;
}

.div-color-box-vert {
  margin: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.div-color-box-hor {
  margin: 2px;
  margin-top: 2px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

#div-box1 {
  background-color: maroon;
}

#div-box2 {
  background-color: red;
}

#div-box3 {
  background-color: olive;
}

#div-box4 {
  background-color: yellow;
}

#div-box5 {
  background-color: green;
}

#div-box6 {
  background-color: lime;
}

#div-box7 {
  background-color: teal;
}

#div-box8 {
  background-color: aqua;
}

#div-box9 {
  background-color: navy;
}

#div-box10 {
  background-color: blue;
}

#div-box11 {
  background-color: purple;
}

#div-box12 {
  background-color: fuchsia;
}

footer {
  background-color: black;
  color: white;
  padding: 25px 10px;
  text-align: center;
}

footer hr {
  color: red;
  opacity: 0.3;
}

/*   ANIMATIONS   */
@keyframes nav-button-dissapear {
  100% {
    display: none;
  }
}
